<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Purchases | Home</title>
   <link rel='stylesheet' type="text/css" href='../stylesheets/userMain-billMain.css'/>   

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>
    <div class="mainContainer">
        <div class="title-container">
            <h2>     
                <var id="varBillTitle">Not Bill Avaible</var> <!-- como es un archivo EJS y desde el servidor le pase la userData, puedo acceder a esta de esta forma.-->
            </h2>
        </div>

            <a href="./participants.html"> <button class="options">Participants</button></a>

            <a href="./purchases.html"> <button class="options">Purchases</button></a>

            <a href="#"> <button class="options">Personal Balances</button></a>

            <a href="#"> <button class="options">Severance Pay</button></a>
            
    </div>

    <button class="btn-back" type="button" id="back-button" >
		Back
	</button>

    <script src="../scripts/billMain.js"></script>
</body>
</html>