<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Purchases |New Bill</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel='stylesheet' type="text/css" href='../stylesheets/createNewBill.css'/>   

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>

    <div class="container" id="mainContainer">
        
        <div class="head">
            <h2> Create New Bill</h2>
        </div>

        <hr>

        <div class="input-container">
            <h4>Write the title of the new bill.</h4>
            <div class="input-bill">
                <input type="text" id="inputBillTitle" placeholder="New bill's title"><br>
            </div>
        </div>
        <button class="btn btn-add" id="btn-inputBillTitle">Create +</button>
      
    </div>

    <button class="btn-back" type="button" id="back-button" >
        Back
    </button>

    <script src="../scripts/createNewBill.js"></script>
</body>
</html>