
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Purchases | My Bills</title>
    <link rel='stylesheet' href='../stylesheets/myBills.css'/>
</head>
<body>

    <div class="mainContainer">

		<div class="arrowContainer">
			<div class="arrow arrowLeft inactive" id="leftButton"></div>
		</div>	
		
			<div class="bills-container" id="bills-container">
 
				
					<!-- esto se llenada desde myBills.js -->
						
			</div>
	
		<div class="arrowContainer">
			<div class="arrow arrowRight inactive" id="rightButton" ></div>
		</div>	

    </div>

	<button class="btn-back" type="button" id="back-button" >
		Back 
	</button>
	
    <script src="../scripts/myBills.js"></script>
</body>
</html>
