<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Purchases | Participants</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel='stylesheet' type="text/css" href='../stylesheets/participants.css'/>   

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>

    <div class="container" id="partContainer">
        
        <div class="head">
            <h2> Participants</h2>
        </div>

        <hr>

        <div class="input-container">
            <div class="title-h4">
                <h4>Add Register User</h4>
            </div>
            
            <div class="input-participant">
                <label>Mail </label><br>
                <input type="text" id="inputPartUser" placeholder="Add the user email"><br>            
            </div>

            <div class="input-participant">
                <label>Alias </label><br>
                <input type="text" id="inputPartInvited" placeholder="Add an alias for the user"><br>
            </div>

            <button class="btn btn-add" id="btn-inputPartUser">Add <i class="fa fa-users"></i>+</button>
        
        </div>
    
        <hr class="light-line">

        <div class="input-container">
            
            <div class="title-h4">
                <h4>Add Not Regiter User</h4>
            </div>
            
            <div class="input-participant">
                <label>Invited </label><br>
                <input type="text" id="inputPartUser" placeholder="Add an alias for the participant"><br>
            </div>
            
            <button class="btn btn-add" id="btn-inputPartUser">Add <i class="fa fa-users"></i>+</button>
        </div>
        <hr>
        <div id="participants-container">
            <!-- <div class="participant">
                <i class="fas fa-times delete-icon"></i>&nbsp;<span>Facundo</span>&nbsp;-&nbsp;<span class="mail-addres">castellanofacundo@gmail.com</span>
            </div>  -->
            
        </div>
        


        <!-- esto se llena desde JS segun los nombres ingresados-->
        
      
    </div>

    <button class="btn-back" type="button" id="back-button" >
        Back
    </button>

    <script src="../scripts/participants.js"></script>
</body>
</html>