<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Purchases | Participants</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/ef08a0a447.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' type="text/css" href='../stylesheets/participants.css'/>   

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>

    <div class="main-container" id="partContainer">
        
        <!-- aca pongo el menu lateral -->

        <div class="optionsMenu inactive" id="menu">
            <div class="menu-elements-container" id="menu-elements-container">
                <div class="menu-item ">Opcion 1</div>
                <div class="menu-item ">Opcion 2</div>
                <div class="menu-item ">Opcion ...</div>
                <div class="menu-item ">Opcion ...</div>
                <div class="menu-item " id="delete-button">Delete Bill</div>
            </div>
            
        </div>

        <div class="title-container">
            <div class="icon-container">
                <i class="fa-solid fa-bars" id="menu-button"></i>
            </div>
            
            <h2> <var>Participants </var></h2>
            
            <div class="icon-container" id="home-button">
                <i class="fa-solid fa-house" ></i>
            </div>
        </div>

        <hr>

        <div class="input-container">
            <div class="title-h4">
                <h4>Add Register User</h4>
            </div>
            
            <div class="input-participant">
                <label>Mail </label><br>
                <input type="text" id="inputUserMail" placeholder="Add the user email"><br>            
            </div>

            <div class="input-participant">
                <label>Alias </label><br>
                <input type="text" id="inputUserAlias" placeholder="Add an alias for the user"><br>
            </div>

            <button class="btn btn-add" id="btn-addUserRegistered">Add <i class="fa fa-users"></i>+</button>
            
        </div>
    
        <hr class="light-line">

        <div class="input-container">
            
            <div class="title-h4">
                <h4>Add Not Regiter User</h4>
            </div>
            
            <div class="input-participant">
                <label>Invited </label><br>
                <input type="text" id="inputInvitedAlias" placeholder="Add an alias for the participant"><br>
            </div>
            
            <button class="btn btn-add" id="btn-addInvetedPart">Add <i class="fa fa-users"></i>+</button>
        </div>
        <hr>
        <div id="participants-container">
            <!-- <div class="participant">
                <i class="fas fa-times delete-icon"></i>&nbsp;<span>Facundo</span>&nbsp;-&nbsp;<span class="mail-addres">castellanofacundo@gmail.com</span>
            </div>  -->
            
        </div>
        


        <!-- esto se llena desde JS segun los nombres ingresados-->
        
      
    </div>

    <!-- <button class="btn-back" type="button" id="back-button" >
        Back
    </button> -->

    <script src="../scripts/participants.js"></script>
</body>
</html>

<!-- 
{"accessToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybWFpbCI6ImZhY3VAZ21haWwuY29tIiwiU3ViSWQiOiI2NDM3MDU4ODM3Mzc2NmZmNzU3ZGI4YWIiLCJleHAiOjE3MTI5MzQ3ODksImlhdCI6MTY4MTM5ODc4OX0.68zZk3hwP1MCi3GlSKnJ7PzkfcOZYklwZ0I7Ve_cm4U",
"billStringId":"6438207b335cd2576c4a0bfd",
"aliasInvitedToAdd":"ades  "
} -->