<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Purchases | Purchases</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/ef08a0a447.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' type="text/css" href='../stylesheets/purchases.css'/>
    <script src="../scripts/modulesPublics/purchasesFunctions.js"></script>
    <script src="../scripts/modulesPublics/inputsValidator.js"></script>

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>
    <div class="main-container" id="purchase-container">
        <!-- <div class="main-title">
            <h2> Purchases </h2>
        </div> -->
        
        
        <!-- aca pongo el menu lateral -->
        <div class="optionsMenu inactive" id="menu">
            <div class="menu-elements-container" id="menu-elements-container">
                <div class="menu-item ">Opcion 1</div>
                <div class="menu-item ">Opcion 2</div>
                <div class="menu-item ">Opcion ...</div>
                <div class="menu-item ">Opcion ...</div>
                <div class="menu-item " id="delete-button">Delete Bill</div>
            </div>
        </div>

        <div class="title-container">
            <div class="icon-container">
                <i class="fa-solid fa-bars" id="menu-button"></i>
            </div>
            
            <h2> <var>Purchases</var></h2>
            
            <div class="icon-container" id="home-button">
                <i class="fa-solid fa-house" ></i>
            </div>
        </div>
        <hr id="hr-1">
        <div class="secondary-titles-container">

            <div class="concept" id="concept-title">
                <h2>Concept</h2>
            </div>
            <div class="amount">
                <h2>Amount (<i class="fas fa-dollar-sign"></i>)</h2>
            </div>

            <div class="pWP">Person Who Pay</div>
            <div class="pAT">People Afected by Purchases</div>
            <div class="purchase-afect-participant"  id="pAP">
                
                <!-- esto  son los nombres que aparecen en el encabezado y se llena desde JS segun los nombres ingresados-->
                <!-- <div id="headName-p0">facu</div> -->
                

            </div>
            <div class="invisible-block"></div>
        </div>
        
        <!--Ahora se crea los input para agregar los input  -->

        <div class="purchase">
            
            <div class="purchase-concept">
                <input type="text" id="inpPurc-concept">
            </div>
            <div class="purchase-amount">
                <input type="number" id="inpPurc-amount">
            </div>
            <div class="purchase-payer">
                <select id="pWPoptions">
                    <option value="">Options</option>
                    <!-- Estas opciones se crean con la funcion addParticipant desde JS -->
                    <!-- <option id="option-p0">facu</option> -->
                   
                </select>            
            </div>

            <div class="purchase-afect-color" id="gTC">
                <!-- Aca se crean los div de los tick en blanco del input de los purchases, los que luego segun se tickeen o no se agregaran gastos o no. -->  
                <!-- <div id="tick-54asd65456as4d65a4sd865" class="genericTick square activate"><i class="fa fa-check"></i></div> -->
            </div>

            <div class="icons-container">
                <div class="refresh-icon" id="btn-refresh">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </div>
                
            </div>
            
            <!-- <div>
                <p>H</p><i class="fa-solid fa-arrows-rotate" id="refresh-icon"></i>
            </div> -->
           
        </div>
        <button class="btn inactive" id="btn-add-purchase">Add <i class="fa fa-coins"></i>+</button>
        
        <hr>
        
        <!--  Aca se agregan los gastos desde AddPurchase() en JS -->
    
    </div>

    <!-- <button class="btn-back" type="button" id="back-button" >
        Back
    </button> -->

    <script src="../scripts/purchases.js" ></script>
</body>
</html>
