<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Purchases | Severance Pay</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    
    <link rel='stylesheet' type="text/css" href='../stylesheets/severancePay.css'/>
   

    <!-- <link rel='stylesheet' type="text/css" href='/home/facu/Escritorio/programacion/proyectosPropios/blog/public/stylesheets/userMain.css'/>   -->
</head>
<body>


    <div class="container" id="severance-pay-container">
        
        <!-- <div class="head">
            <h2> Severance Pay </h2>
        </div>

        <div class="severance-pay-title">
            <div>Debtor</div>
            <div>Amount</div>
            <div>Beneficiary</div>
        </div>

        <hr>

        <div class="severance-pay-row">
            <div>Deudor </div>
            <div>Monto </div>
            <div>Beneficiario</div>
        </div>

        <div class="severance-pay-row">
            <div>Deudor </div>
            <div>Monto </div>
            <div>Beneficiario</div>
        </div> -->
        
    </div>




    <button class="btn-back" type="button" id="back-button" >
        Back
    </button>

    <script src="../scripts/severancePay.js" ></script>
</body>
</html>