:root{
    --body-bg-color: steelblue  ;
   
    --botton-bg-color: rgb(211, 234, 241) ;
    --content-bg-color:rgba(0, 0, 0, 0.4) ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
body{
    background-color:var(--body-bg-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    color:white;
    
}

.mainContainer{
    width: 400px;
    background-color: var(--content-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container-A{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
hr{
    border: 1px solid white;
    width: calc(100% - 4px);
}

.container-B{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
/*los iconos*/
.icon-container{
    font-size: x-large;
}
.fa-sign-out-alt:active, .fa-bars:active{
    scale:0.96;
    color: var(--botton-bg-color);
}
.icon-container{
    padding: 8px 15px;
    /* border: solid 1px white;
    border-radius:5px; */
}

/*los div vacios los hago como flechas.*/
.fa-sign-out-alt{
    transform: rotateY(180deg);
}


.arrow{
    width: 0;
    height: 0;
}
.arrow:active{
    scale: 0.92;
}

.arrowLeft{

    border-top: 20px solid transparent;
    border-bottom:20px solid transparent;
    border-right:28px solid var(--botton-bg-color);
    margin-right: 10px;
    margin-left: 20px;
    transition: all 0.3s;
}
.arrowLeft:hover{
    border-right:28px solid var(--body-bg-color);
}

.arrowRight{
    border-top: 20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:28px solid  var(--botton-bg-color);
    margin-left: 10px;
    margin-right: 20px;
    transition: all 0.3s;
}
.arrowRight:hover{
    border-left-color:var(--body-bg-color);
}
/*estilo de las flechas inactivas.*/
/*flecha izq*/
 .inactive.arrowLeft{
    border-right-color: rgb(133, 129, 129);
}
.inactive.arrowLeft:hover{
    border-right-color: tomato;
    cursor: pointer;
}
.inactive.arrowLeft:active{
    scale: 1;
}
/*flecha der*/
.inactive.arrowRight{
    border-left-color: rgb(133, 129, 129);
}
.inactive.arrowRight:hover{
    border-left-color: tomato;
    cursor: pointer;
}
.inactive.arrowRight:active{
    scale: 1;
}

/*estilo de los escritos.*/

.bills-container{
width: 70%;
height: 400px;
/*border: 2px solid black;*/
margin:0px 20px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
overflow:hidden;
white-space:nowrap;
text-overflow: ellipsis;

}

.bill {
color:black;
margin: 10px 0px;
padding: 5px 0px;
background-color:var(--botton-bg-color);
border-radius: 5px;
width: 100%;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
font-family: Arial, sans-serif;
font-size: 18px;
transition: All 0.1s;

}
  
.bill:hover {
background-color: var(--body-bg-color);
cursor: pointer;
color:white;
}

.creator{
    background-color:var(--body-bg-color);
    color:white;
    font-size: large;
    font-weight: 600;
    border: none;
}
.creator:hover{
     background-color:rgb(184, 226, 184);
    color:rgb(44, 48, 39);
}
.creator:active{
    scale:0.98;
}
