@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px solid green;*/
}
body {
    background-color:steelblue ;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin:0;
    margin-top: 100px;
    /*border: 2px solid red;*/

}
hr{
    border: 2px solid white;
    width: 100%;
    margin: 10px 0;
}
hr.light-line{
    border: 1px solid white;
}
.container{
    
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px;
    margin: 30px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}


.head {
    /*border: 2px solid blue;*/
    width: auto;
    height:auto;
    padding: 5px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container{
    margin: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.title-h4{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.title-h4 div {
    width:fit-content;

}

.input-participant{
    font-size: 17px;
    margin: 5px 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;

}
.input-participant label{
    grid-row: 1/1;
    grid-column: 1/2;
    text-align: center;
}
.input-participant input{
    grid-row: 1/1;
    grid-column: 2/2
}


/* .input-participant i{
    justify-self: flex-end;
    align-self: flex end;
} */

#inputPart{
    width: 90px;
    margin: 0px 10px;
} 

.btn-add{
    align-self: center;
    width: 100px;
    color:white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 10px 0px;
    cursor: pointer;
    background-color:rgb(38, 97, 146) ; 
    border: 1px solid rgb(167, 165, 165);
}


#partContainer{
    position:relative;
}



#participants-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.participant{
    padding: 2px 5px;
    width:auto;
    margin:7px;
    background-color: rgb(211, 234, 241); 
    border-radius: 3px;
    color: black;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 

.trash-icon{
    border:2px solid black;
    padding:3px;
    margin:0px;
    border-radius: 3px;
    color: black;
    font-weight: lighter;
    background-color: rgb(189, 179, 179);
    opacity: 0.2;
    align-self: end;
}

.trash-icon:hover{
    background-color: tomato;
    opacity: 1;
}



.delete-icon{
    color:white;
    border-radius: 3px;
    padding: 4px;
    margin: 3px;
    cursor: pointer;
    background-color:rgb(38, 97, 146);
    border: 2px solid black;
}

span.mail-addres{
    font-size: small;
}

/*boton back */
button:active{
    transform:scale(0.95)
}

#back-button{
    font-size: 19px;
    padding: 15px 20px;
    margin-top:20px;
    width: 200px;
    height:100%;
    border: solid 4px rgb(38, 97, 146);
    border-radius: 12px;
    background-color: rgb(211, 234, 241); 
   
}

#back-button:active{
    transform:scale(0.95)
}