@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:steelblue ;
    color: white;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin:0;

}

.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px;
    margin: 30px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.head {
    /*border: 2px solid blue;*/
    width: auto;
    height:auto;
    padding: 5px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}





#pWPoptions{
    color:white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 3px;
    cursor: pointer;
    background-color:rgb(38, 97, 146) ; /*rgb(168, 202, 117)*/
    border: 1px solid rgb(167, 165, 165);
}


#btn-add-purchase{
    color:white;
    border-radius: 3px;
    background-color:rgb(117, 192, 115) ;
    font-size: 16px;
    padding: 7px 25px;
    margin-top: 10px;
    border: 1px solid rgb(167, 165, 165);
}

#btn-add-purchase.inactive{
    background-color: grey;

}
#btn-add-purchase.inactive:active{
    background-color: tomato;
    
}
/*purchase */

.purchase input{
    width:80px;
}

hr {
    margin: 15px 0px;
    width: 100%;
    height: 5px;
    background-color: white;
}

.purchase-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  3fr ;
    grid-template-rows: 1fr 1fr;
    height: auto;
    width: 100%;
}

.concept{
    grid-column: 1 / 2;  
    grid-row: 2 / 3;
    display:flex;
    align-items: flex-end;
    justify-content: center ;
    font-size: 12px;
    
    /*border:2px solid red;*/
}
.amount{
    grid-column: 2 / 3;  
    grid-row: 2 / 3; 
    display:flex;
    align-items: flex-end;
    justify-content: center;
    /*border:2px solid red;*/
    font-size: 12px;
}

.pWP {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    text-align: justify;
    /*border:2px solid red;*/
    grid-column: 3 / 4;  
    grid-row: 2 / 3; 
    font-size: 16px;
}
.pAT{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /*border:2px solid red;*/
    grid-column: 4 / 7;  
    grid-row: 1 / 2; 
}


.purchase-afect-participant {
    /*border:2px solid red;*/
    grid-column: 4 / 7;  
    grid-row: 2 / 3; 
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: auto;
    width: auto;

}
.purchase-afect-participant div{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}
.purchase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  3fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
    margin:7px;
    padding:3px 0;
    background-color: rgb(211, 234, 241); 
    border-radius: 3px;
    color:black;

}


.purchase-concept{
    grid-column: 1 / 2;  
    grid-row: 1 / 2; 
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /*border:2px solid pink;*/
}

.purchase-amount{
    grid-column: 2 / 3;  
    grid-row: 1 / 2; 
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /*border:2px solid pink;*/
    
}
.purchase-pWP{
    grid-column: 3 / 4;  
    grid-row: 1 / 2;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /*border:2px solid pink;*/
}
.purchase-afect-color{
    grid-column: 4 / 7;  
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   /* border:2px solid red;*/
    position: relative;
}



.btn-close{
    position: absolute;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s ease;
    z-index: -1; /*con esto lo mando al fondo y lo hago inclickiable (quizas visible pero no clickiable)*/
    visibility: hidden;
}
.btn-close.visible{
    transform: translateX(50px);
    visibility: visible;
    z-index: 1; /*con esto lo traigo adelante y lo hago clickiable.*/
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(94, 94, 94) 2px solid;
    border-radius: 3px;
    width: 22px;
    height: 25px; 
    opacity: 0.2;
    background-color: rgb(189, 179, 179);
}

.square.activate{
    background-color:rgb(38, 97, 146) ; 
    border-color: black;
    opacity: 1;
    color:white;
}

/*boton back */
button:active{
    transform:scale(0.95)
}

#back-button{
    font-size: 19px;
    padding: 15px 20px;
    margin-top:20px;
    width: 200px;
    height:100%;
    border: solid 4px rgb(38, 97, 146);
    border-radius: 12px;
    background-color: rgb(211, 234, 241); 
   
}

#back-button:active{
    transform:scale(0.95)
}