@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

:root{
    --body-bg-color: steelblue  ;
    --maindiv-bg-color: rgb(211, 234, 241) ;
    --botton-bg-color: rgb(211, 234, 241) ;
    --content-bg-color:rgba(0, 0, 0, 0.4) ;
    --div-icon-width:40px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:var(--body-bg-color);
    color: white;
    /* font-weight: bold; */
    font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin:0;
    margin-top: 50px;
}

.main-container{

    background-color: var(--content-bg-color);
    padding: 12px;
    /*margin: 30px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position:relative
}


 /*menu lateral*/
 .optionsMenu{
    background-color: var(--botton-bg-color);
    height: auto;
    width:150px;
    position: absolute;
    top:0;
    left:0;
    transition: all 0.3s;
    /*display:block*/
    z-index:1;
}
.optionsMenu.inactive{
    width: 0px;
    position: absolute;
    /*display: none;*/
}
.menu-elements-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(112, 110, 110);
}

.menu-item{
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color:var(--botton-bg-color);
    padding:4px 5px 0px;
    margin:5px 0px;
    border:2px solid transparent;
    cursor:pointer;
}

.menu-item:hover{
    color: white;
    font-weight: 400;
    background-color:var(--body-bg-color);
    border:2px solid white;
}


/**/
.title-container{
    width: calc(100%);
}
/*titulo personal balances y los iconos*/
.title-subcontainer-1,.title-subcontainer-2{
    margin: 0  auto;
    padding: 0 auto;
    position: relative;
    width: 100%;
    height: 45px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    /* justify-content: space-between; */
}
.title-subcontainer-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr var(--div-icon-width);
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.title-subcontainer-2 div{
    width:100%;

}

/*font awwsome iconos*/
.icon-container{
    font-size: x-large;
}
.fa-solid:active{
    scale:0.96;
    color: var(--botton-bg-color);
}
.icon-container{
    padding: 8px 15px;
}

hr{
    border: 2px solid white;
    width: 100%;
    margin: 10px 0;
}


/*Several Pay */
.transfer-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

hr{
    border: 2px solid white;
    width: 100%;
    margin: 10px 0;
}
.severance-pay-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr var(--div-icon-width);
    width: 100%;
    margin:5px 0;
    padding:5px 0; 
    background-color: rgb(211, 234, 241); 
    border-radius: 3px;
    color:black;
    
}

.severance-pay-row div{
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*icono money-trasnfer*/
.divIcon{
    width:var(--div-icon-width);
    height: 100%;
    background-color: transparent;
    color:black;
    padding: 8px 15px;
    font-size:x-large;
    margin-right: 6px;
}
.transfer-icon{
    padding: 2px;    
    background-color: rgb(189, 179, 179);
    opacity: 0.2;
    border:2px black solid;
}
.transfer-icon:hover {

    background-color: var(--maindiv-bg-color);
    border:2px solid var(--body-bg-color);
    opacity: 1;
    color:var(--body-bg-color);

}

.transfer-icon:active{
    scale:0.96;
    color: var(--botton-bg-color);
}
