@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

:root{
    --body-bg-color: steelblue  /* rgb(118, 155, 223)*/;
    --maindiv-bg-color: rgb(211, 234, 241) /*rgb(145, 195, 236)  /*rgb(96, 170, 192)*/;
    --botton-bg-color: rgb(211, 234, 241) /*rgb(145, 195, 236)  /*rgb(96, 170, 192)*/;
    --content-bg-color:rgba(0, 0, 0, 0.4) /*rgb(221, 214, 238)*/;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color:var(--body-bg-color);
    color: rgb(33, 40, 43);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-family: 'Roboto',sans-serif;
}

hr{
    border: 1px solid white;
    width: calc(100% - 4px);

}

.mainContainer{
    width: 400px;
    height: auto;
    /*padding:25px 0;*/
    border-radius: 3px;
    background-color: var(--content-bg-color);
    /*border: solid 1px white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.username-container,.title-container {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    /*top: -27px;*/
    width: 100%;
    height: 45px;
    /*border-radius:3px 3px 0 0 ;*/
    /*background-color:var(--content-bg-color)*/;
    color:white;
    /*border:solid 2px white*/; 
    /*border-bottom:solid 4px white;*/ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.billmain-title-container{
    justify-content: space-around;
}

.billmain-title-container .icon-container{
    font-size: x-large;
}
.icon-container{
    padding: 8px 15px;
    /* border: solid 1px white;
    border-radius:5px; */
}

.options{
    color: black;
    height: 50px;
    width:200px;
    background-color: var(--botton-bg-color);
    text-decoration: dotted;
    margin:20px 0;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: large;
}
button:active{
    transform:scale(0.95)
}

#back-button{
    font-size: 19px;
    padding: 15px 20px;
    margin-top:20px;
    width: 200px;
    height:100%;
    border: none;
    border-radius: 12px;
    background-color:  var(--botton-bg-color);
    
   
}

#back-button:active{
    transform:scale(0.95)
}
